<body>
	<a href="/">Back</a>

	<article>
		<h2>WHO WE ARE</h2>
		<p>
      At SPEED, we are a team passionate about the power of capture.
      digital. We offer a simple yet powerful solution to record and
      Capture moments with maximum fidelity. With our application,
      You can select from various options to personalize your
      Recordings: Adjust the frame rate to capture the perfect fluidity,
      Select the resolution to get the clarity you need and
      Choose between different formats to ensure compatibility and
      quality. All this, designed with an intuitive interface that makes
      content capture is accessible to everyone
		</p>
	</article>
</body>
